<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Register </title>
</head>
<body>
{% if message %}
    <a>{{ message }}</a>
{% endif %}
<form action="" method="GET">
    <label for="username"> Username </label>
    <input type="text" name="username" required>
    <br>
    <label for="password"> Password </label>
    <input type="password" name="password" required>
    <br>
    <label for="password_again"> Password_again </label>
    <input type="password" name="password_again" required>
    <br>
    <input type="submit" value="register">
</form>
<br>
<a href="{{ url_for('login') }}"> Назад </a>
</body>
</html>