<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Теория</title>
</head>
<body>
    <a>аэропОрты</a>
    <br>
    <a>бАнты</a>
    <br>
    <a>бОроду</a>
    <br>
    <a>бухгАлтеров</a>
    <br>
    <a>вероисповЕдание</a>
    <br>
    <a>водопровОд</a>
    <br>
    <a>газопровОд</a>
    <br>
    <a>граждАнство</a>
    <br>
    <a>дефИс</a>
    <br>
    <a>дешевИзна</a>
    <br>
    <a>диспансЕр</a>
    <br>
    <a>договорЁнность</a>
    <br>
    <a>докумЕнт</a>
    <br>
    <a>досУг</a>
    <br>
    <a>еретИк</a>
    <br>
    <a>жалюзИ</a>
    <br>
    <a>знАчимость</a>
    <br>
    <a>Иксы</a>
    <br>
    <a>каталОг</a>
    <br>
    <a>квартАл</a>
    <br>
    <a>киломЕтр</a>
    <br>
    <a>кОнусов</a>
    <br>
    <a>кОнус</a>
    <br>
    <a>корЫсть</a>
    <br>
    <a>крАны</a>
    <br>
    <a>кремЕнь</a>
    <br>
    <a>кремнЯ</a>
    <br>
    <a>лЕктор</a>
    <br>
    <a>лОктя</a>
    <br>
    <a>локтЕй</a>
    <br>
    <a>лыжнЯ</a>
    <br>
    <a>мЕстностей</a>
    <br>
    <a>мЕстность</a>
    <br>
    <a>намЕрение</a>
    <br>
    <a>нарОст</a>
    <br>
    <a>нЕдруг</a>
    <br>
    <a>недУг</a>
    <br>
    <a>некролОг</a>
    <br>
    <a>нЕнависть</a>
    <br>
    <a>нефтепровОд</a>
    <br>
    <a>новостЕй</a>
    <br>
    <a>нОвость</a>
    <br>
    <a>нОгтя</a>
    <br>
    <a>ногтЕй</a>
    <br>
    <a>Отзыв</a>
    <br>
    <a>отзЫв</a>
    <br>
    <a>отозвАть</a>
    <br>
    <a>Отрочество</a>
    <br>
    <a>партЕр</a>
    <br>
    <a>портфЕль</a>
    <br>
    <a>пОручни</a>
    <br>
    <a>придАное</a>
    <br>
    <a>призЫв</a>
    <br>
    <a>свЁкла</a>
    <br>
    <a>сирОты</a>
    <br>
    <a>сиротА</a>
    <br>
    <a>созЫв</a>
    <br>
    <a>сосредотОчение</a>
    <br>
    <a>срЕдства</a>
    <br>
    <a>срЕдство</a>
    <br>
    <a>стАтуя</a>
    <br>
    <a>столЯр</a>
    <br>
    <a>тамОжня</a>
    <br>
    <a>тОрты</a>
    <br>
    <a>тУфля</a>
    <br>
    <a>цемЕнт</a>
    <br>
    <a>цЕнтнер</a>
    <br>
    <a>цепОчка</a>
    <br>
    <a>шАрфы</a>
    <br>
    <a>шофЁр</a>
    <br>
    <a>экспЕрт</a>
    <br>
    <a>вернА</a>
    <br>
    <a>вЕрный</a>
    <br>
    <a>знАчимый</a>
    <br>
    <a>красИвее</a>
    <br>
    <a>красИвый</a>
    <br>
    <a>красИвейший</a>
    <br>
    <a>кУхонный</a>
    <br>
    <a>ловкА</a>
    <br>
    <a>лОвкий</a>
    <br>
    <a>мозаИчный</a>
    <br>
    <a>оптОвый</a>
    <br>
    <a>прозорлИвы</a>
    <br>
    <a>прозорлИва</a>
    <br>
    <a>слИвовый</a>
    <br>
    <a>бралА</a>
    <br>
    <a>бралАсь</a>
    <br>
    <a>брАться</a>
    <br>
    <a>взялА</a>
    <br>
    <a>взялАсь</a>
    <br>
    <a>взЯться</a>
    <br>
    <a>влилАсь</a>
    <br>
    <a>влИться</a>
    <br>
    <a>ворвалАсь</a>
    <br>
    <a>ворвАться</a>
    <br>
    <a>воспринЯть</a>
    <br>
    <a>воспринялА</a>
    <br>
    <a>воссоздалА</a>
    <br>
    <a>воссоздАть</a>
    <br>
    <a>вручИт</a>
    <br>
    <a>вручИть</a>
    <br>
    <a>гналА</a>
    <br>
    <a>гнАться</a>
    <br>
    <a>добралА</a>
    <br>
    <a>добралАсь</a>
    <br>
    <a>дождалАсь</a>
    <br>
    <a>дозвонИтся</a>
    <br>
    <a>дозИровать</a>
    <br>
    <a>ждалА</a>
    <br>
    <a>жилОсь</a>
    <br>
    <a>закУпорить</a>
    <br>
    <a>занЯть</a>
    <br>
    <a>заперлА</a>
    <br>
    <a>запломбировАть</a>
    <br>
    <a>защемИт</a>
    <br>
    <a>звалА</a>
    <br>
    <a>звонИт</a>
    <br>
    <a>кАшлянуть</a>
    <br>
    <a>клАла</a>
    <br>
    <a>клЕить</a>
    <br>
    <a>крАлась</a>
    <br>
    <a>кровоточИть</a>
    <br>
    <a>лгалА</a>
    <br>
    <a>лилА</a>
    <br>
    <a>лилАсь</a>
    <br>
    <a>навралА</a>
    <br>
    <a>наделИт</a>
    <br>
    <a>надорвалАсь</a>
    <br>
    <a>назвалАсь</a>
    <br>
    <a>накренИтся</a>
    <br>
    <a>налилА</a>
    <br>
    <a>нарвалА</a>
    <br>
    <a>начАть</a>
    <br>
    <a>обзвонИт</a>
    <br>
    <a>облегчИть</a>
    <br>
    <a>облилАсь</a>
    <br>
    <a>обнялАсь</a>
    <br>
    <a>обогналА</a>
    <br>
    <a>ободралА</a>
    <br>
    <a>ободрИть</a>
    <br>
    <a>ободрИться</a>
    <br>
    <a>обострИть</a>
    <br>
    <a>одолжИть</a>
    <br>
    <a>озлОбить</a>
    <br>
    <a>оклЕить</a>
    <br>
    <a>окружИт</a>
    <br>
    <a>опОшлить</a>
    <br>
    <a>освЕдомиться</a>
    <br>
    <a>отбылА</a>
    <br>
    <a>отдалА</a>
    <br>
    <a>откУпорить</a>
    <br>
    <a>отозвалА</a>
    <br>
    <a>отозвалАсь</a>
    <br>
    <a>перезвонИт</a>
    <br>
    <a>перелилА</a>
    <br>
    <a>плодоносИть</a>
    <br>
    <a>пломбировАть</a>
    <br>
    <a>повторИт</a>
    <br>
    <a>позвалА</a>
    <br>
    <a>позвонИт</a>
    <br>
    <a>полилА</a>
    <br>
    <a>положИть</a>
    <br>
    <a>понЯть</a>
    <br>
    <a>послАла</a>
    <br>
    <a>прибЫть</a>
    <br>
    <a>принЯть</a>
    <br>
    <a>рвалА</a>
    <br>
    <a>сверлИт</a>
    <br>
    <a>снялА</a>
    <br>
    <a>совралА</a>
    <br>
    <a>создалА</a>
    <br>
    <a>сорвалА</a>
    <br>
    <a>сорИт</a>
    <br>
    <a>убралА</a>
    <br>
    <a>углубИть</a>
    <br>
    <a>укрепИт</a>
    <br>
    <a>чЕрпать</a>
    <br>
    <a>щемИт</a>
    <br>
    <a>щЁлкать</a>
    <br>
    <a>довезЁнный</a>
    <br>
    <a>зАгнутый</a>
    <br>
    <a>зАнятый</a>
    <br>
    <a>зАпертый</a>
    <br>
    <a>заселЁнный</a>
    <br>
    <a>кормЯщий</a>
    <br>
    <a>кровоточАщий</a>
    <br>
    <a>нажИвший</a>
    <br>
    <a>налИвший</a>
    <br>
    <a>нанЯвшийся</a>
    <br>
    <a>начАвший</a>
    <br>
    <a>нАчатый</a>
    <br>
    <a>низведЁнный</a>
    <br>
    <a>облегчЁнный</a>
    <br>
    <a>ободрЁнный</a>
    <br>
    <a>обострЁнный</a>
    <br>
    <a>отключЁнный</a>
    <br>
    <a>повторЁнный</a>
    <br>
    <a>поделЁнный</a>
    <br>
    <a>понЯвший</a>
    <br>
    <a>прИнятый</a>
    <br>
    <a>приручЁнный</a>
    <br>
    <a>прожИвший</a>
    <br>
    <a>снятА</a>
    <br>
    <a>сОгнутый</a>
    <br>
    <a>углублЁнный</a>
    <br>
    <a>закУпорив</a>
    <br>
    <a>начАв</a>
    <br>
    <a>начАвшись</a>
    <br>
    <a>отдАв</a>
    <br>
    <a>поднЯв</a>
    <br>
    <a>понЯв</a>
    <br>
    <a>прибЫв</a>
    <br>
    <a>создАв</a>
    <br>
    <a>вОвремя</a>
    <br>
    <a>дОверху</a>
    <br>
    <a>донЕльзя</a>
    <br>
    <a>дОнизу</a>
    <br>
    <a>дОсуха</a>
    <br>
    <a>зАсветло</a>
    <br>
    <a>зАтемно</a>
    <br>
    <a>красИвее</a>
    <br>
    <a>надОлго</a>
    <br>
    <a>ненадОлго</a>
    <br>
    <a href="{{ url_for('home') }}">Назад</a>
</body>
</html>